@import "dmenu"
@import "colors"

* {
    background-color:     @xbg;
    text-color:           @xfg;
    font: "Microsoft YaHei 45";
}

#window {
    archor: center;
    location: center;
    border-radius:20px;
}

#horibox {
    background-color:#00000000;
    padding: 15;
    children: [listview];
}

#listview {
    background-color:#00000000;

}

#element {
    background-color:#00000000;
}

#element selected {
    background-color:@xbs;
    border-radius:20px;
}
